@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

/*폰트설정*/

body{ touch-action:pan-x pan-y;}


html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {
	font-family: 'Pretendard', sans-serif;  font-size:16px;  color:#222;
}


html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	word-break: keep-all;
	font-family: 'Pretendard', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*플롯을 준 부모의 높이(height:0)가 사라지는 현상을 막기*/
.clear {
	clear:both;
}

textarea{
	width:100%;
}
select, label, img, input, textarea, button{
	vertical-align:middle;
}

/*display:none 이 아닌 방식으로 사라지게 해야 할때(웹 접근성 고려 화면에 보이지 않지만 읽혀 져야 할때)*/
.hide {
	position:absoulute; 
	left:-3000px;
}

/*기본적으로 이탤릭으로 표현되는 태그들을 노멀로 변경*/
address,cite,code,em{
	font-style:normal; 
	font-weight:normal;
}

table{
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}

a{
	color : #666; 
	text-decoration:none
}
a:focus, a:hover{
	text-decoration:none
}

img,fieldset, button {
	border:0;
}

main,header,section,nav,footer,aside,article,figure{
	display:block;
	}

input{
	-webkit-appearance: none;
   -webkit-border-radius: 0;
}

input::-webkit-input-placeholder{
	color:#b5b5b5; 
	font-size:12px; 
	line-height:100%;
}


/* 부모요소 높이 잡아주기
플롯걸어준태그:after{
	content:'';
	clear:both;
	display:block;
}
*/

/* 웹접근성 <span class="blind">숨김 텍스트</span> */
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
}

.center{text-align:center; }
.left{text-align:left;}
.right{text-align:right;}

.padding-3{padding:0 3%; }
.padding-4{padding:0 4%; }
.padding-5{padding:0 5%; }
.padding-6{padding:0 6%; }
.padding-05rem{padding:0 0.5rem}
.padding-1rem{padding:0 1rem}
.padding-2rem{padding:0 2rem}
.padding-3rem{padding:0 3rem}
.padding-4rem{padding:0 4rem}
.padding-5rem{padding:0 5rem}
.img-width-auto img{width:auto;}


.margin-t-05rem{margin-top:0.5rem; }
.margin-t-1rem{margin-top:1rem; }
.margin-t-2rem{margin-top:2rem; }
.margin-t-3rem{margin-top:3rem; }
.margin-t-4rem{margin-top:4rem; }
.margin-t-5rem{margin-top:5rem; }
.margin-t-6rem{margin-top:6rem; }
.margin-t-7rem{margin-top:7rem; }
.margin-t-8rem{margin-top:8rem; }
.margin-t-9rem{margin-top:9rem; }
.margin-t-10rem{margin-top:10rem; }
.margin-t-11rem{margin-top:11rem; }
.margin-t-12rem{margin-top:12rem; }
.margin-t-13rem{margin-top:13rem; }
.margin-t-14rem{margin-top:14rem; }
.margin-t-15rem{margin-top:15rem; }
.margin-t-16rem{margin-top:16rem; }
.margin-t-17rem{margin-top:17rem; }
.margin-t-18rem{margin-top:18rem; }
.margin-t-19rem{margin-top:19rem; }

.lh-100{line-height:100%}
.lh-110{line-height:110%}
.lh-120{line-height:120%}
.lh-130{line-height:130%}
.lh-140{line-height:140%}
.lh-150{line-height:150%}
.lh-160{line-height:160%}
.lh-170{line-height:170%}
.lh-180{line-height:180%}

.fw-3{font-weight:300}
.fw-4{font-weight:400}
.fw-5{font-weight:500}
.fw-6{font-weight:600}
.fw-7{font-weight:700}

.w-100{width:100%}
.w-90{width:90%}
.w-80{width:80%}
.w-70{width:70%}
.w-60{width:60%}


textarea{border:none;}


/*모바일전용*/

@media only screen and (max-width: 767px){
	* {outline:0 !important;}
	/*html{
		-webkit-touch-callout:none; 
		-webkit-user-select:none; 
		-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
		}
	body{
		width:100%; 
		background:#fff; 
		min-width:320px; 
		max-width:767px;
		margin:0 auto;
		-webkit-text-size-adjust:none;
		word-wrap:break-word;
		word-break:break-all;
		}*/
}

